body {
    background-color: #964B00; /* Marrom suave para o fundo */
}

.container {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-top: 100px;
}

.spanForm{
    font-size: 12px;
    margin: 3px 0 0 01px;
    color: red;
    display: none;
}